.register {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(180deg, #326467 0%, rgba(41, 79, 84, 0) 100%), #1B3B3C;
}

.logo {
    position: absolute;
    width: 516px;
    height: 90px;
    left: 696px;
    top: 111px;
}

.register2 {
    position: absolute;
    left: 810px;
    top: 245px;
}

.ueser {
    width: 300px;
    height: 50px;
}

.pass {
    width: 300px;
    height: 50px;
}
#userregister {
    padding-left: 20px;
}
#passregister {
    padding-left: 20px;
}
#passregister2 {
    padding-left: 20px;
}


.registerbtn {
    width: 144px;
    height: 50px;
}

input {
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #2400FF;
    box-sizing: border-box;
    border-radius: 110px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

button {
    width: 144px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #52FF00;
    box-sizing: border-box;
    border-radius: 110px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}